
<app-usernav></app-usernav>
<div class="container">

    <div class="card mb-4 mt-5"style="max-width: 18rem;">
        <div class="card border-success " style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Previous Appointment</h5>
          <p class="card-text">We are happy to provide your previous appointmnet list.</p>
          <a href="#" class="btn btn-primary">Previous Appointment</a>
        </div>
    </div>
      </div>


      <div class="card mt-4" style="max-width: 18rem;">
        <div class="card border-success " style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Book Appointment</h5>
          <p class="card-text">We are happy to provide our service to you.</p>
          <a routerLink="/appointment" class="btn btn-primary">Book  Appointment</a>
        </div>
    </div>
      </div>

</div>