

<app-usernav></app-usernav>
<br><br>
<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4">
        <div class="text-center">
          <img src="https://images.unsplash.com/photo-1622253692010-333f2da6031d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80" width="100" class="rounded-circle">
        </div>
        <div class="text-center mt-3">
          <div class="card-deck">
            <div class="card" *ngFor="let doc of reviewDetails">
              <div class="card-body">
                <h5 class="card-title">{{ doc.doctorName }}</h5>
                <p class="card-text">Doctor ID: {{ doc.doctorId }}</p>
                <p class="card-text">Department: {{ doc.department }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card" *ngFor="let r of getReview">
          <div class="card-body">
            <p class="card-text">{{ r.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



  
