<app-usernav></app-usernav>
<br><br>
<div class="container mt-5">

  <div class="row d-flex justify-content-center">

    <div class="col-md-7">

      <div class="card p-3 py-4">

        <div class="text-center">
          <img src="../../assets/download.jfif" width="100" class="rounded-circle">
        </div>

        <div class="text-center mt-3">
          <!-- <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span> -->
          <div class="card-deck">
            <div class="card" *ngFor="let doc of reviewDetails">
              <div class="card-body">
                <h5 class="card-title">{{ doc.doctorName }}</h5>
                <p class="card-text">Doctor ID: {{ doc.doctorId }}</p>
                <p class="card-text">Department: {{ doc.department }}</p>
              </div>
            </div>
          </div>
        
          <button class="btn btn-primary px-4 ms-3"(click)="viewreview()">View Review</button>
        </div>


      </div>

    </div>

  </div>

</div>

