<div class="main">
  <app-usernav></app-usernav>

  <div class="blurrr">
    <div class="container text-center">
      <div class="row ">
        <div class="col-lg-6 ">

          <form class="form-container">

            <h1 class="mb-3 pb-3 " style="text-align: left; margin-top: 10px; font-weight: 600;padding-left: 20px;">
              Log In
            </h1>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example18">Email</label>
              <input type="email" id="form2Example18" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example28">Password</label>
              <input type="password" id="form2Example28" class="form-control form-control-lg" />
            </div>

            <div class="pt-1 mb-4">
              <button class="btn bttn buttonll" type="button" (click)="login()">Login</button>
            </div>


          </form>

        </div>


        <div class="col bggif">
          <div class="blurr ">
            <!-- <div class="text-center paddingtop">
              <app-homepagecarousel></app-homepagecarousel>
            </div> -->
            <div class="signup">


              <!-- <img src="../../../assets/sign-up.png"  style="width:5vw;object-fit: contain;"alt="" srcset=""> -->

              <h1 style="padding-top: 10px;font-weight: 600;">Hello! </h1>
              <h2> Don't have an account yet?</h2>





              <p style="padding-bottom: 10px;padding-top: 20px;">Enter your personal details and start journey with us
              </p>
              <h3 routerLink="/user-signup" class="hover-2">Signup here</h3>
            </div>
          </div>
        </div>





      </div>
    </div>

  </div>
</div>