<app-usernav></app-usernav>
<div class="container-fluid ">
  <div class="blur">
    <div class="row justify-content-center align-items-center ">
      <div class="col-12">

        <div class="card">
          <div class="card-body p-5 text-center m-auto">
            <h3 class="fw-bold mt-4">Welcome to MediConnect</h3>
            <h4 class="text">Create Your Account</h4>

            <form class="text-start">

              <div class="row">
                <div class="col ">
                  <label class="form-label" style="width: 200px;" for="formFirstName">First name</label>
                  <input type="text" id="formFirstName" class="form-control form-control-lg" placeholder="Firstname" />
                </div>
                
                <div class="col">
                  <label class="form-label" for="formLastName">Last name</label>
                  <input type="text" id="formLastName" class="form-control form-control-lg" placeholder="Lastname" />
                </div>
              </div>

              <div class="form-group">
                <label class="form-label" for="formEmail">Email</label>
                <input type="email" id="formEmail" class="form-control form-control-lg" placeholder="Email" />
              </div>

              <div class="form-group">
                <label class="form-label" for="formPassword">Password</label>
                <input type="password" id="formPassword" class="form-control form-control-lg" placeholder="Password" />
              </div>

              <div class="form-group">
                <label class="form-label" for="formVerifyPassword">Verify Password</label>
                <input type="password" id="formVerifyPassword" class="form-control form-control-lg"
                  placeholder="Verify Password" />
              </div>

              <div class="form-check mb-4 mt-3">
                <input class="form-check-input" type="checkbox" value="" id="formAgreeTerms">
                <label class="form-check-label " for="formAgreeTerms">
                  I agree to all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                </label>
              </div>

              <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="appointment()">Register</button>
            </form>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>