<div id="carouselExampleAutoplaying" class="carousel slide carousel-fade shadowww" data-bs-ride="carousel" data-bs-interval="2500">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/carousel/image11 (2) (1).jpg" class="d-block w-100 carousel-img" alt="text">
      <div class="carousel-caption d-none d-md-block">
        <p>"A healthy body is a guest chamber for the soul; a sick body is a prison." - Francis Bacon</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/carousel/1009725.jpg" class="d-block w-100 carousel-img" alt="text">
      <div class="carousel-caption d-none d-md-block">
        <p>"Health is not valued till sickness comes." - Thomas Fuller</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/image11 (1).jpg" class="d-block w-100 carousel-img" alt="text">
      <div class="carousel-caption d-none d-md-block">
        <p>"Medicine heals doubts as well as diseases"-Aswin RS</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/carousel/1009712.jpg" class="d-block w-100 carousel-img" alt="text">
      <div class="carousel-caption d-none d-md-block">
        <p>To keep the body in good health is a duty... otherwise, we shall not be able to keep the mind strong and clear.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/carousel/image11 (6).jpg" class="d-block w-100 carousel-img" alt="text">
      <div class="carousel-caption d-none d-md-block">
        <p>"Good health and good sense are two of life's greatest blessings." - Publilius Syrus</p>
      </div>
    </div>
  </div>
  <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div>

